
<br><br>
<div class="container" style="text-align: center">
    <h1 style="font-size: 5.5em">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    </h1>
    <h2><%= message %></h2>
    <h3><%= status %></h3>
    <% if (error.stack) { %>
        <pre style="text-align: left"><%= error.toString() %></pre>
    <% } %>
</div>