<div class="form-group login-form">
    <div class="input-group">
        <div class="input-group-addon">
            <%= tip %>
        </div>
        <input class="form-control getById" placeholder="ID" value="<%= value %>">
    </div>
</div>