<div class="OrderPage clearfix" full-height>
    <div class="nav-main col-xs-12">
        <div class="n_nav-item" style="color: #999; font-weight: bolder">
            EISMan
        </div>
        <div class="n_nav-item">
            Global Status
        </div>
        <div class="n_nav-item">
            Help
        </div>
        
        <div class="n_nav-item pull-right">
            <span class="glyphicon glyphicon-user"></span>
            Abū Bakr al-Baghdadi (Production Department)
        </div>
    </div>
</div>