<link rel="stylesheet" href="/stylesheets/order.css">
<div class="OrderPage clearfix" full-height>
    <div class="FilterItem">
        <h3>Quick Seach Records:</h3>
        <form>
            <label>Time: from</label>
            <input type="date" name="StartTime" />
            <label>to</label>
            <input type="date" name="EndTime" />
        </form>
    </div>

    <div class="content">

    </div>
</div>