<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <title><%= typeof title === 'string' ? title + ' - EISMan' : 'EISMan' %></title>
    </head>

    <body>

        <div id="app">
            <div class="nav-main">
                <a class="n_nav-item" href="/" style="font-weight: bolder">
                    EISMan
                </a>
                <a class="n_nav-item">
                    Global Status
                </a>
                <a class="n_nav-item">
                    Help
                </a>
                
                <% if (!req.session.user) { %>
                    <a  class="n_nav-item pull-right" href="/user/login">Login</a>
                <% } else { %>
                    <a  class="n_nav-item pull-right" href="/user/logout">Logout</a>
                <% } %>

                <% if (req.session.user) { 
                    let user = req.session.user; %>
                    <a class="n_nav-item pull-right">
                        <span class="glyphicon glyphicon-user"></span>
                        <%= `${user.firstName} ${user.lastName} (${PersonnelRole[user.role]} Department)` %>
                    </a>
                <% } %> 


            </div>

            <%- body %>
        </div>

        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/client.js"></script>

    </body>
</html>