<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title><%= typeof title === 'string' ? title + ' - EISMan' : 'EISMan' %></title>
    </head>

    <body>
        <div data-ignore id="progbar" style="position: fixed; z-index: 9999; width: 100%"></div>
        <div id="app">
            <ul class="nav nav-tabs nav-main col-xs-12">
                <a class="n_nav-item" href="/" style="font-weight: bolder">
                    EISMan
                </a>
                <li class="dropdown">
					<a href="#" data-toggle="dropdown" class="nav-dropdown dropdown-toggle">Procedures<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="/order/view/0">Orders</a>
						</li>
						<li>
							<a href="/product/view/0">Products</a>
						</li>
						<li>
							<a href="/finance/">Finance</a>
						</li>
						<li>
							<a href="/personnel/view/400132">Personnel</a>
						</li>
                        <li>
							<a href="/productModel/view/0">Product Model</a>
						</li>
                        <li>
							<a href="/personnel/global">Global Status</a>
						</li>
					</ul>
				</li>
                <a class="n_nav-item">
                    Help
                </a>
                
                <% if (!req.session.user) { %>
                    <a  class="n_nav-item pull-right" href="/user/login">Login</a>
                <% } else { %>
                    <a  class="n_nav-item pull-right" href="/user/logout">Logout</a>
                <% } %>

                <% if (req.session.user) { 
                    let user = req.session.user; %>
                    <a class="n_nav-item pull-right">
                        <span class="glyphicon glyphicon-user"></span>
                        <%= `${user.firstName} ${user.lastName} (${PersonnelRole[user.role]} Department)` %>
                    </a>
                <% } %> 


            </ul>

            <%- body %>
        </div>

        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/set-dom/dist/set-dom.js"></script>
        <script src="/toprogress/ToProgress.min.js"></script>
        <script src="/client.js"></script>

    </body>
</html>