<div class="LoginPage clearfix" full-height style="padding-top: 80px">
    

    <div class="container panel panel-default" style="width: 30%; padding-left: 22px; padding-right: 22px;">
    <div style="text-align: center; padding-top: 5px;">
        <img style="width: 20%; text-align: center" src="/Dell_Logo.svg">
    </div>
    <h2 style="text-align: center">Staff Login</h2>
    <form class="form-horizontal" method="POST" action="/user/login">
        <div class="form-group">
            <label for="id" class="col-sm-0 control-label">ID</label>
            <div class="col-sm-0">
            <input type="text" class="form-control" name="id" placeholder="ID">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-0 control-label">Password</label>
            <div class="col-sm-0">
            <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-0 col-sm-0">
            <button type="submit" class="btn btn-default">Login</button>
            <span class="text-danger"><%= typeof err !== 'undefined' ? err : '' %></span>
            </div>
        </div>
    </form>
    </div>

    <div style="color: #888; position: fixed; right: 0; bottom: 0">
        User(400132, '1008611', 'Kai-shek', 'Chiang', PersonnelRole.Logistics),<br>
        User(400135, '1008611', 'Steve', 'Jobs', PersonnelRole.Production),<br>
        User(400136, '1008611', 'Bill', 'Gates', PersonnelRole.Finanace),<br>
        User(400137, '1008611', 'Linus', 'Torvalds', PersonnelRole.HumanResource),<br>
        User(400138, '1008611', 'Richard', 'Stallman', PersonnelRole.Sales),<br>
    </div>
</div>