.FinancePage {
    width: 100%;
    overflow: hidden;
    padding-top: 4%;
}

.sidebarForm > div {
    padding: 2% 0px;
}

div > .title {
    margin-bottom: 2%;
}

.siderbar button {
    margin-top: 15%;
    float: right;
}