.PersonnelPage {
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}

.PersonnelPage > .sidebar,
.PersonnelPage > .content {
    height: 100%;
    overflow: auto;
    padding-bottom: 5%;
}

.sidebar button {
    float: right;
}