.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.ProductPage {
    width: 100%;
    overflow: hidden;
}

.ProductPage > .sidebar,
.ProductPage > .content {
    height: 100%;
    overflow: auto;
    padding-bottom: 5%;
}