body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

[full-height] {
	height: 100vh;
}

a {
	color: #00B7FF;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.nav-main {
	/*background: #478900;*/
	color: #666;
	background: #f1f1f1;
	/*padding: 10px 0;*/
	line-height: 1.45;
	/*font-family: "Comic Sans MS";*/
	width: 100%;
	position: fixed;
	z-index: 89000;
}

/*.nav-main > :nth-child(1) {
	padding-left: 0px;
}*/

body {
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 10px;
}

li {
	list-style-type: none;
	/*margin-left: 4px;*/
}

* {
	border-radius: 0 !important;
}

a {
	color: #2289ab;
}

.n_nav-item {
	display: block;
	color: #000000;
	text-decoration: none;
	float: left;
	padding: 10px 15px;
}

.n_nav-item:hover {
	background: rgba(0,0,0,0.3);
	background: #2289ab;
	text-decoration: none;
	color: #f1f1f1;
}

.nav-dropdown {
	border: none !important;
	display: block !important;
	color: #000000 !important;
	text-decoration: none !important;
	float: left;
}

.nav-dropdown:hover {
	background: rgba(0,0,0,0.3) !important;
	background: #2289ab !important;
	text-decoration: none !important;
	color: #f1f1f1 !important;
}

.login-form > * {
	margin-top: 5px;
}

h1,h2,h3,h4,h5,h6 {
	color: #555;
}

.title {
	margin-top: 15px;
	color: #555;
	font-weight: bolder;
	font-size: 1.2em;
	clear: left;
}

.subtitle {
	padding: 5px 0;
	color: #575
}

.content {
	/*background: #fefefe;*/
	border-left: #f1f1f1 solid 2px;
	height: 100%;
}

.sidebar {
	/*background: #fbfcfb;*/
	padding: 0;
}

.sidebar > * {
	padding: 0 15px;
}

.objective {
	padding-top: 5px;
	padding-bottom: 1px;
}

.card {
	padding-left: 5px;
}

html, body, #app {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.default-list-view {
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
}

.default-list-view > .sidebar,
.default-list-view > .content {
    height: 100%;
    overflow: auto;
    padding-bottom: 5%;
}