<form class="form-horizontal handleAction" data-action="MODIFY_RECORD">
    <div class="text-danger" style="padding: 10px 0px; font-size: 1.1em">
		Be aware: You are now manually modify finance record.
		<b>Please ensure that you have to do so</b>. Your operation will be recorded.
	</div>
	<% let user = req.session.user; %>
	<div class="form-group">
		<label class="col-sm-2 control-label">Handler</label>
		<div class="col-sm-10">
			<div class="form-control" disabled><span class="glyphicon glyphicon-user"></span>
				<%= `${user.firstName} ${user.lastName} (${PersonnelRole[user.role]} Department)` %>
			</div>
		</div>
	</div>

    <div class="form-group">
		<label for="password" class="col-sm-2 control-label">Account Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" name="passwordConfirm" placeholder="Input password to confirm your identity">
		</div>
	</div>

    <div class="form-group">
		<label for="id" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="text" action-payload data-type="Number" class="form-control" name="id" disabled>
		</div>
	</div>

	<div class="form-group">
		<label for="type" class="col-sm-2 control-label">Type</label>
		<div class="col-sm-10">
			<select name="type" action-payload data-type="String" class="form-control">
                <option value="" disabled selected>Select an option</option>
                <option value="sales">Sales</option>
                <option value="OtherIncome">Other Type of Income</option>
                <option value="salary">Salary</option>
                <option value="debt">Debt</option>
                <option value="expense">Expense</option>
                <option value="promotion">Promotion</option>
                <option value="other">Other</option>
            </select>
		</div>
	</div>

	<div class="form-group">
		<label for="amount" class="col-sm-2 control-label">Amount</label>
		<div class="col-sm-10">
			<input type="number" action-payload data-type="Number" class="form-control" name="amount">
		</div>
	</div>

	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">Description</label>
		<div class="col-sm-10">
			<input type="text" action-payload data-type="Sting" class="form-control" name="description">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>