<h1 style="color: #777; line-height: 100%; text-align: center; padding-top: 30%;">
    <span class="glyphicon glyphicon-tasks"></span>
</h1>
<h2 style="color: #777; line-height: 100%; text-align: center;"><%= tip %></h2>